* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.76);
    overflow: hidden;
}

#wrapper {
    /* width: 100vw; */
    display: flex;
    justify-content: space-between;
    height: 7vh;
}

h1 {
    margin: 0 0 10px 25%;
    color: white;
    font-variant: small-caps;
}

#wrappersub {
    margin: 20px auto 0 auto;
    width: 80%;
}

button {
    height: 100%;
    width: 18%;
    font-size: 0.7em;
    font-weight: bolder;
}

.input {
    width: 60%;
    height: 100%;
}

.listelements {
    font-size: 1em;
    margin: 5px 0;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.897);
    /* position: relative; */
    height: 7vh;
    color: white;
    text-align: center;
    padding: 0;
    overflow: hidden;
}
.listelements .texts{
    position: relative;
    /* top: -20%; */
    top:auto;
    box-sizing: border-box;
    height: 90%;
    font-size: 1em;
    width: 60%;
    padding: 0;
    z-index: 9999;
    text-align: left;
    vertical-align: middle;
    /* overflow-block: scroll; */
    overflow-x: scroll;
    overflow-y: hidden;
    word-wrap: normal;
}
#list{
    display: block;
    height: 30vh;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
::-webkit-scrollbar {
    display: none;
  }
  

::-webkit-scrollbar-track {

    border-radius: 5%;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 10%;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #898989; 
  }

@media only screen  and (max-width:450px){
    body{
        overflow: hidden;
    }
    body button,.listelements{
    font-size: 0.8em;
    font-weight: bolder;
    }    
    
    #wrappersub{
        width: 100vw;
        margin: 0 auto;
        padding: 2px;
    }
    #list{
        height: 80vh;
        width: 100vw;
    }
    .listelements .texts{
        margin: 0;
        height: 100%;
        font-size: 1.3em;
        
    }
    h1{
        font-size: 80%;
    }
}