* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.76);
}

#wrapper {
    /* width: 100vw; */
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0 0 10px 25%;
    color: white;
    font-variant: small-caps;
}

#wrappersub {
    margin: 150px auto 0 auto;
    width: 40%;
}

button {
    height: 5vh;
    width: 18%;
}

.input,.texts {
    width: 60%;
    height: 5vh;
}

.listelements {
    font-size: 1.5em;
    margin: 5px 0;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.897);
    position: relative;
    height: 5vh;
    color: white;
    text-align: center;
}
.texts{
    display: flex;
    align-items: center;
}
#list{
    display: block;
    height: 30vh;
    overflow-y: scroll;
    
}

::-webkit-scrollbar {
    width: 6px;
  }
  

::-webkit-scrollbar-track {

    border-radius: 5px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 10px;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #898989; 
  }

@media screen and (max-width:736px){
    body button,.listelements{
    font-size: 0.5em;
    }    
    .listelements .texts{
        font-size: 1.5em;
    }
    h1{
        font-size: 80%;
    }
}
@media screen and (max-width:450px){
    body button,.listelements{
    font-size: 4px;
    font-weight: bolder;
    }    
    .listelements .texts{
        font-size: 2em;
    }
    h1{
        font-size: 80%;
    }
}